Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

In [1]:
def next_in_line(*a):
    l = []
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
            
        elif type(i) == int:
            l.append(i)
        
        
    return (l[1:])
            
   

next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

Question2
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

In [2]:

def get_budgets(a):
    d1 = a[0]
    d2 = a[1]
    d3 = a[2]
    new_d = d1['budget'] + d2['budget'] + d3['budget']
    return new_d
    

    
get_budgets([
{ "name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 }, 
{ "name": "Martin", "age": 16, "budget": 2700 }
])

65700

{ &quot;name&quot;: &quot;John&quot;, &quot;age&quot;: 21, &quot;budget&quot;: 23000 },
{ &quot;name&quot;: &quot;Steve&quot;, &quot;age&quot;: 32, &quot;budget&quot;: 40000 },
{ &quot;name&quot;: &quot;Martin&quot;, &quot;age&quot;: 16, &quot;budget&quot;: 2700 }

Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.

In [3]:
def alphabet_soup(a):
    return ''.join(sorted(a))

alphabet_soup("hacker")

'acehkr'

Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the
number of compounding periods per year n. The function returns the value at the end of term
rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) âžž 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding
there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or
daily.

In [4]:
def compound_interest(p,t,r,n):
    t1 = n*t
    final = p*(1+r/n)**t1
    return round(final,2)
    
compound_interest(10000, 10, 0.06, 12)

18193.97

Question5
Write a function that takes a list of elements and returns only the integers.

In [5]:
def return_only_integer(x):
    l = []
    for i in x:
        if type(i) == int:
            l.append(i)
    return l

return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]