Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [1]:
def filter_list(x):
    l1=[]
    for i in x:
        if type(i) == int:
            l1.append(i)
    return l1
    
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [2]:
def add_indexes(x):
    l2 = []
    for i in x:
        l2.append(i + x.index(i))
    return l2

In [3]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [4]:
def cone_volume(h, r):
    vol = 3.14159 * (r**2) * (h/3)
    new_vol = "{:.2f}".format(vol)
    return new_vol

cone_volume(3,2)

'12.57'

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.

In [5]:
def triangle(x):
    n = x
    dots = x*(x+1)/2
    return int(dots)

triangle(2)

3

In [6]:
triangle(215)

23220

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

In [7]:
def missing_num(x):
    y = range(1,11)
    for i in y:
        if i not in x:
            return i
            
missing_num([7, 2, 3, 6, 5, 9, 1,4, 8])

10

In [8]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7